*{
    text-decoration:none;
}

@font-face {
    font-family: "inter-semibold";
    src: url(../../Source/Fonts/Inter-SemiBold.ttf);
}
@font-face {
    font-family: "rubik";
    src: url(../../Source/Fonts/Rubik-Regular_0.ttf);
}
@font-face {
    font-family: "rubik-medium";
    src: url(../../Source/Fonts/Rubik-Medium.ttf);
}
@font-face {
    font-family: "rubik-bold";
    src: url(../../Source/Fonts/Rubik-Bold_0.ttf);
}




/*header*/
.header .logo a{
    font-family: "Inter-semibold";
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #FFFFFF;    
}
.header_nav li a{
    font-family: "Rubik";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.header_nav span{
    font-family: "Rubik-medium";
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;    
}
.hamburger li{
    font-family: "Rubik";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.hamburger li:first-of-type,
.hamburger li:nth-of-type(2){
    font-family: "Rubik-medium";
    text-decoration:underline;
}




/*intro*/
.intro .left_side div:first-of-type span:first-of-type{
    font-family: "Rubik-medium";
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #0D0D2B;    
}
.intro .left_side div:first-of-type span:last-of-type{
    font-family: "Rubik";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;    
}
.intro p:first-of-type{
    font-family: "Rubik-bold";
    font-size: 64px;
    line-height: 76px;
    color: #FFFFFF;    
}
.intro p:last-of-type{
    font-family: "Rubik";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #E0E0E0;    
}






/*advertising*/
.advertising .top_side h2{
    font-family: "Rubik-bold";
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;    
}
.advertising .top_side p{
    font-family: "Rubik";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #E0E0E0;    
}
.advertising .bottom_side h2{
    font-family: "Rubik-bold";
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;    
}
.advertising .bottom_side p{
    font-family: "Rubik";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #E0E0E0;    
}




/*calculator*/
.calculator_block > div > h2{
    font-family: "Rubik-bold";
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;    
}
.calculator_block > div > p{
    font-family: "Rubik";
    font-size: 18px;
    line-height: 150%;
    color: #E0E0E0;    
}
.top_calculator h2{
    font-family: "Rubik-bold";
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;    
}
.top_calculator p{
    font-family: "Rubik";
    font-size: 20px;
    line-height: 150%;
    color: #0D0D2B;
}
.top_calculator input[type=number]{
    font-family: "Rubik";
    font-size: 20px;
    line-height: 150%;
    color: #0D0D2B;
}
.top_calculator input[type=button]{
    font-family: "Rubik-medium";
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;    
}
.bottom_calculator div{
    font-family: "Rubik-medium";
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #3671E9;
}
.option_calculator div{
    font-size:30px;
    color: #0D0D2B;
}
.bottom_calculator > p:first-of-type{
    font-family: "Rubik-medium";
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #3671E9;    
}
.bottom_calculator span{
    font-family: "Rubik-bold";
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #0D0D2B;
}
.bottom_calculator span:last-of-type{
    color:#3671e9;
}
.bottom_calculator p:last-of-type{
    font-family: "Rubik";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #828282;    
}






/*crypto*/
.crypto > h2{
    font-family: "Rubik-bold";
    font-size: 40px;
    line-height: 150%;
    color: #0D0D2B;    
}
.crypto span h3{
    font-family: "Rubik-bold";
    font-size: 32px;
    line-height: 150%;
    color:#0D0D2B;    
}
.crypto span span:last-of-type{
    font-family: "Rubik-medium";
    font-size: 18px;
    line-height: 150%;
    color:#BDBDBD;;
    opacity: 0.7;
}
.crypto p:last-of-type{
    font-family: "Rubik";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color:#828282;    
}



/*features*/
.features_block > div > h2{
    font-family: "Rubik-bold";
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;    
}
.features_item .heading{
    font-family: "Rubik-bold";
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
}
.features_item .description{
    font-family: "Rubik";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #E0E0E0;    
}






/*start mining*/
.start_mining h3{
    font-family: "Rubik-bold";
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
}
.start_mining p{
    font-family: "Rubik";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.start_mining form input{
    font-family: "Rubik";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;    
    color: #FFFFFF;
}
.start_mining form input::placeholder{
    font-family: "Rubik";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;    
    color: #FFFFFF;
}
.start_mining button{
    font-family: "Rubik-medium";
    font-size: 18px;
    line-height: 150%;
    color: #0D0D2B;
}









/*footer*/
.footer_logo a{
    font-family: "Inter-semibold";
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.link_footer p{
    font-family: "Rubik-medium";
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}
.link_footer a{
    font-family: "Rubik";
    font-size: 16px;
    line-height: 38px;
    color: #E0E0E0;
}
.pay_footer{
    font-family: "Rubik-medium";
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
}
.bottom_footer span{
    font-family: "Rubik";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;    
}