/*header*/
@media(max-width:992px){
    .header_nav{
        display:none;
    }
    .hamburger{
        display:block;
    }
    .header{
        margin:30px 0;
    }
}



/*intro*/
@media(max-width:576px){
    .intro .left_side{
        background:url("../../Source/Img/intro.svg") no-repeat center;
    }
    .intro_block .container{
        padding:0;
    }
    .intro .left_side > div{
        padding:0 10px
    }
    .intro .left_side div:first-of-type span:first-of-type{
        font-size: 14px;
    }
    .intro .left_side div:first-of-type span:last-of-type{
        font-size: 14px;
    }
    .intro p:first-of-type{
        font-size: 54px;
        line-height: 66px;  
    }
    .top_intro{
        max-width: 300px;
        height: 40px;
        gap:10px;
    }
}



/*advertising*/
@media(max-width:992px){
    .advertising_block{
        background: url("../../Source/Img/advertising\ background.svg") no-repeat right 25%,
                    url("../../Source/Img/advertising\ background\ 1.svg") no-repeat left bottom,
                    url("../../Source/Img/advertising\ background\ 2.svg") no-repeat right 60%;
    }
    
    .advertising_block .container{
        padding:0;
    }
    .advertising .bottom_side > div{
        padding: 0 10px;
    }
    .advertising .top_side{
        justify-content: space-evenly;
    }
    .advertising .top_side > span{
        flex:1;
        display:flex;
        justify-content: center;   
    }
    @media (max-width:576px){
        .advertising .bottom_side{
            background:url(../../Source/Img/advertising\ 1.svg) no-repeat center;
        }
    }
}





/*calculator*/
@media(max-width:992px){
    .calculator_block{
        display:none
    }
}



/*crypto*/
@media(max-width:1200px){
    .crypto > div{
        justify-content: space-evenly;
    }
    @media (max-width:576px) {
        .shadow_crypto span{
            width:250px;
        }
        .crypto_item{
            width:250px;
        }
        .crypto_item p{
            padding:0 10px;
        }
        .crypto > h2{
            font-size: 30px;
            line-height: 140%;
        }
    }
}


/*features*/
@media(max-width:1200px){
    .features_item{
        text-align:center;
    }
    .features_item .description{
        margin:24px auto 32px auto;
    }
    .features_item .background{
        display:none;
    }
    .features_item:not(:last-of-type){
        margin-bottom:0px;
    }
    .features_block > div > h2{
        padding:100px 10px 50px 10px;
        font-size: 30px;
        line-height: 130%;
    }
}








/*start mining*/
@media (max-width:1200px) {
    .start_mining_block{
        height: 600px;
    }
    .start_mining{
        height: 400px;
        max-width: 1200px;
        display: grid;
        gap:0px;
        padding:0 20px;
        justify-content: center;
    }
    .start_mining form{
        max-width: 566px;
    }
    @media (max-width:992px) {
        .start_mining_block{
            display:none;
        }
    }
}








/*footer*/
@media (max-width:992px) {
    .top_footer{
        display:grid;
        grid-auto-flow:row;
        gap:50px;
        grid-template-columns: 1fr 1fr;
    }
    .top_footer span{
        margin:0 auto;
    }
    .top_footer span:nth-of-type(2){
        order:1;
    }
    .top_footer span:nth-of-type(3){
        order:2;
    }
    .footer_logo{
        display:none;
    }
    .pay_footer{
        text-align:center;
        grid-column:1/3;
    }
    .pay_footer div{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .link_footer ul{
        display:none;
    }
    .link_footer img{
        display:block;
    }
    .link_footer div{
        display:flex;
        align-items:center;
        cursor:pointer;
    }
    .bottom_footer{
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap:50px;
    }
}
