*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    max-width:1100px;
    margin:0 auto;
    padding:0 10px;	
}
.container_screen{
    max-width:1440px;
    margin:0 auto;
}
span{
    display:inline-block;
}
body{
    background: #0D0D2B;
}
.background_image{
    max-width:1440px;
    margin:0 auto;
    background: url("../../Source/Img/intro\ line.svg") no-repeat center 280px,
                url("../../Source/Img/intro\ line\ 2.svg") no-repeat right 390px;
}





/*header*/
.header{
    margin:60px 0;
    display:flex;
    justify-content: space-between;
}
.logo{
    display:flex;
    align-items:center;
    gap:16px;
}
.logo img{/*vert align img*/
    display:flex;
}
.header_nav{
    display:flex;
    align-items:center;
    gap:56px;
}
.header_nav ul{
    list-style: none;
    display:flex;
    align-items:center;
    gap:32px;
}
.header_nav li{
    transition:500ms;
}
.header_nav li:hover{
    background:rgba(255, 255, 255, 0.1);
    border-radius:15px;
    padding:2px 5px;
}
.header_nav > span{/*login reg*/
    display:flex;
    align-items:center;
}
.header_nav > span > span:first-child{/*border-right and align login*/
    height: 24px;
    display:flex;
    align-items:center;
    padding-right:24px;
    margin-right:24px;
    border-right:1px solid rgba(242, 242, 242, 0.3);
}
.header_nav .register span{
    background: #3671E9;
    border-radius: 32px;
    width: 130px;
    height: 52px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.hamburger{
    display:none;
}
.hamburger img{
    cursor:pointer;
}
.hamburger nav{
    overflow:hidden;
    display:none;
    height: 185px;
    position:absolute;
    right:15px;
    background:#252540;
    border:1px solid white;
    padding:7px 12px;
}
.hamburger ul{
    list-style: none;
}



/*intro*/
.intro .left_side{
    background:url("../../Source/Img/intro.svg") no-repeat right center;
    width: 100%;
    height: 600px;
    display:grid;
    align-items:center
}
.top_intro{
    max-width: 365px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    display:flex;
    align-items:center;
    gap:16px;
    white-space: nowrap;
}
.intro .left_side div:first-of-type span:first-of-type{
    background: #FFFFFF;
    border-radius: 32px;
    height: 32px;
    width: 133px;
    margin-left:4px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.intro .left_side div:first-of-type span:last-of-type{
    padding-right:11px;
}
.intro p:first-of-type{
    margin:24px 0;/*padding between text*/
    max-width:588px;
}
.intro p:last-of-type{
    margin-bottom:32px;
    max-width:435px;
}
.intro a img{/*зона нажатия на кнопку*/
    border-radius:60px;
}





/*advertising*/
.advertising_block{
    padding:100px 0;
    max-width:1440px;
    margin:0 auto;
    height: 865px;
    background: url("../../Source/Img/advertising\ background.svg") no-repeat right 25%,
                url("../../Source/Img/advertising\ background\ 1.svg") no-repeat left bottom,
                url("../../Source/Img/advertising\ background\ 2.svg") no-repeat right 84%;
}
.advertising .top_side{
    display:flex;
    white-space: nowrap;
    flex-wrap: wrap;
    gap:20px;/*min gap*/
    justify-content: space-between;
}
.advertising .top_side > span{
    display:flex;
    align-items:flex-end;
    gap:24px;
}
.advertising .top_side > span p:last-of-type{
    margin-top:4px;
}
.advertising .bottom_side{
    background:url(../../Source/Img/advertising\ 1.svg) no-repeat left center;
    height: 585px;
    display:flex;
    justify-content: flex-end;
    align-items:center;
}
.advertising .bottom_side h2{
    max-width:480px;
}
.advertising .bottom_side p{
    margin:24px 0 32px 0;
    max-width:480px;
}




/*calcultor*/
.calculator_block .top_background{
    height: 457px;
    display:grid;
    text-align:center;
    align-items:flex-end;
}
.calculator_block .bottom_background{
    background:#F8F9FB;
    height: 316px;
}
.calculator_block > div > p{
    margin:0 auto;
    max-width: 642px;
    padding:0 10px;
}
.top_calculator{
    width: 942px;
    height: 155px;
    margin:0 auto;
    background: #FBFCFE;
    border-radius: 16px 16px 0px 0px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.top_calculator form{
    display:flex;
    align-items:center;
    gap:48px;
}
.top_calculator form input[type=number]{
    width: 403px;
    height: 46px;   
    border:none;
    outline:none;
    border-bottom:1px solid #E0E0E0;
}
.top_calculator input[type=button]{
    width: 147px;
    height: 59px;
    border:none;
    outline:none;
    cursor:pointer;
    background: #3671E9;
    border-radius: 32px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.select_calculator{
    border:none;
    outline:none;
    height: 46px;
    width: 200px;
    display:grid;
    align-items:center;
    border-bottom:1px solid #E0E0E0;
}
.select_calculator > div:first-of-type{
    cursor:pointer;
    display:flex;
    margin:10px 0;
    justify-content: space-between;
    padding-left:8px;
}
.option_calculator{
    display:none;
    background:white;
    position:relative;
    width: 200px;
    height: 92px;
    overflow: hidden; 
}
.option_calculator div{
    border:1px solid #E0E0E0;
    position:absolute;
    z-index:100;
    mix-blend-mode: multiply;
}
.option_calculator p{
    width: 198px;
    padding-left:8px;
    text-align:left;
}
.option_calculator p:hover{
    background: #808080;
    cursor: pointer;
}
.bottom_background > div{
    width: 942px;
    height: 216px;
    margin:0 auto;
}
.bottom_calculator{
    height: 216px;
    background: #FFFFFF;
    border-radius: 0px 0px 16px 16px;
    margin:0 auto;
}
.bottom_calculator p{
    padding-left:48px;
}
.bottom_calculator p:first-of-type{
    padding:48px 0 16px 48px;
}
.bottom_calculator p:last-of-type{
    margin-top:4px;
}
.mix_mode_bottom_calculator{/*shadow*/
    height: 216px;
    width:942px;
    position: absolute;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 80px 40px #391777;
    mix-blend-mode: overlay;
}



/* .calculator_block{
    display:none;
} */




/*crypto*/
.crypto_block{
    background: #F8F9FB;
    text-align:center;
    padding:100px 0;
    
}
.crypto > h2{
    max-width: 741px;
    margin:0 auto 64px auto;
}
.shadow_crypto{
    padding:0 5px;
    display:flex;
    flex-wrap:wrap;
    position:absolute;
}
.shadow_crypto span{
    transition:500ms;
    mix-blend-mode: overlay;
    box-shadow: 0px 40px 40px #391777;
    border-radius: 16px;
    opacity:0.1;
    width: 330px;
    height: 433px;
}
.crypto > div{
    display:flex;
    flex-wrap:wrap;
    gap:45px;
    z-index:100;
}
.crypto_item{
    transition:500ms;
    z-index:10000;
    background: #FFFFFF;
    border-radius: 16px;
    width: 330px;
    height: 433px;
}
.crypto_item > img{
    margin:48px 0;
}
.crypto_item p{
    padding:0 22px;
    margin:16px 0 25px 0;
}




/*features*/
.features_block{
    background:#2B076E;
}
.features_block > div{
    background:
                url(../../Source/Img/features\ background\ 1.svg) no-repeat right bottom,
                url(../../Source/Img/features\ background\ 2.svg) no-repeat 20% top;          
                border:1px solid rgba(0,0,0,0);
}
.features_block > div > h2{
    text-align:center;
    max-width:758px;
    margin:0 auto;
    padding:100px 0;/*outer padding*/
}
.features_item{
    max-width:1220px;
    padding:0 10px;
    margin:0 auto 0 auto;
    display:flex;
}
.features_item .description{
    max-width:408px;
    margin:24px 0 32px 0;
}
.features_item:not(:last-of-type){
    margin-bottom:120px;
}
.features_item .text{
    align-self:center;
}
.features_item span{
    flex:1;
}
.features_item:first-of-type{
    height: 427px;
}
.features_item:nth-of-type(2){
    height: 453px;
    gap:90px;
}
.features_item:last-of-type{
    height: 334px;
    margin-bottom:100px;/*outer padding*/
}






/*start mining*/
.start_mining_block{
    height: 392px;
    background:url(../../Source/Img/start\ mining\ background.svg) no-repeat 70% bottom,
               url(../../Source/Img/start\ mining\ background.svg) no-repeat 5% bottom,
               linear-gradient(#2B076E 100%, #0D0D2B 100%);
    display:flex;
}
.start_mining{
    background: url(../../Source/Img/start\ mining\ 1.svg) no-repeat right bottom,
                url(../../Source/Img/start\ mining\ 2.svg) no-repeat,
              #3671E9;
    margin:auto;
    height: 216px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap:190px;
    align-items: center;
    justify-content: space-between;
    padding:0 48px;
    border-radius: 16px;
}
.start_mining p{
    margin:16px 0 0 0;
    max-width:348px;
}
.start_mining form{
    display:flex;
    width: 566px;
    align-items:center;
    justify-content: space-between;
}
.start_mining input{
    width: 374px;
    height: 42px;
    border:none;
    outline:none;
    background:none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.start_mining button{
    border:none;
    outline:none;
    cursor:pointer;
    width: 152px;
    height: 55px;
    background: #FFFFFF;
    border-radius: 32px;
}









/*footer*/
.footer_block{
    padding:80px 0;/*outer padding*/
}
.footer{/*container*/
    max-width:1220px;
    padding:0 10px;
    margin:0 auto;
}
.top_footer{
    display:flex;
}
.top_footer > span{
    flex:1;
}
.footer_logo > div{
    display:flex;
    gap:16px;
    align-items:center;
}
.link_footer ul{
    list-style: none;
    overflow:hidden;
}
.link_footer img{/*mob ver*/
    display:none;
}
.pay_footer > div:last-of-type{
    display:flex;
    margin-top:40px;
    gap:24px;
}
.bottom_footer{
    margin-top:125px;/*padding between top and bottom block*/
    display:flex;
    justify-content: space-between;
}
.bottom_footer > span:last-of-type{
    display:flex;
    gap:35px;
}
